body{
    background-color: rgb(248, 187, 20);
}


header, footer
{
    justify-content: center;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: -15px;
    background-color: rgb(11, 129, 226);
    height: 90px;
}

.right-haut{
    background-color: rgb(240, 22, 22);
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 150px;
    display: flex;
    margin-left: auto;

}
.left-haut{
    margin-top: -170px;
    background-color: rgb(38, 235, 70);
    width: 10%;
    height: 260px;
    justify-content: center;
    align-items: center;
}
.left-bas{
    display: flex;
    background-color: rgb(194, 145, 240);
    width: 10%;
    height: 260px;
    justify-content: center;
    align-items: center;
}
.conteneur{
    background-color: rgb(248, 187, 20);
}
p{
    width: 80%;
    display: flex;
    font-size: 1.3em;
    margin-left: 10%;
    margin-top: -500px;
}
h2, h1{
    text-align: center;
    justify-content: center;
}
h1{
    align-items: center;
    display: inline-block;
    margin-bottom: 100px;
    margin-top: 50px;
}
.conteneur h1{
    display: flex;
    text-align: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 767px) {

    header, footer
{
    justify-content: center;
    /* display: inline-block; */
    text-align: center;
    width: 100%;
    background-color: rgb(11, 129, 226);
    /* height: 90px; */
}

    .right-haut{
        margin-top: 20px;
        background-color: rgb(240, 22, 22);
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        /* display: flex; */

    
    }
    .left-haut{
        margin-top: 10px;
        background-color: rgb(38, 235, 70);
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        /* display: flex; */
    }
    .left-bas{
        margin-top: 20px;
        background-color: rgb(194, 145, 240);
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        /* display: flex; */
    }
    p{
        margin-top: 10px;
        width: 100%;
        width: 80%;
        /* display: flex; */
        font-size: 1em;
        margin-top: 20px;
    }
}
