*{
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
    background-color: rgb(102, 181, 247);
    text-align: center;
    /* width: 100%; */
    font-size: 20px;
}
.corp{
    display: flex;   
}
.navs{
    display: flex;
    flex-direction: column;
}
.nav1{
    background-color: rgb(36, 190, 36);
    padding: 15px;
    height: 250px;
}
.sou1{
    position: relative;
    top: 30%;
}
.sou2{
    position: relative;
    top: 35%;
    width: 50px;
}
.nav2{
    background-color: rgb(179, 117, 128);
    padding: 15px;
    height: 270px;
}
aside{
    width: 95%;
    background-color: yellow;
    font-size: 20px;
    height: 580px;
}
aside .contenu{
    text-align: center;
    position: relative;
    top: 50%;
}
footer{
    padding: 10px;
    background-color: rgb(66, 253, 206);
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

@media screen and (max-width:600px) {
    .navs{
        display: flex;
        flex-direction: column;
    }
    .corp{
        display: block;   
    }
    .nav1{
        padding: 10px;
        height: 25px;
    }
    .sou1{
        position: relative;
        top: 10%;
        text-align: center;
    }
    .sou2{
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
    }
    .nav2{
        padding: 10px;
        height: 25px;
       
    }
    aside{
        width: 100%;
        height: 400px;
    }
}